# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2699467ad429afd277c7686ffdd072c23084bb1679c8528bf04f9e6278f93d89a2502e80c09627fb944dc6429b39c7166a14eac5ea7f93392c98a8ba13a7b69c

test:
  secret_key_base: 793ea87b51cf668f02f709b23942370073f15d631721e792255d77ecc40dfefa6b656d5f73cb095b04faf6d1af4a5a870684477cc253c9513999bf58b52d6b61

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
